@import url(../styles/header.css);
@import url(../styles/banner.css);
@import url(../styles/dados.css);
@import url(../styles/talentos.css);
@import url(../styles/vagas.css);
@import url(../styles/colaboradores.css);
@import url(../styles/rodape.css);
:root{
    --font-principal:"inter";
    --cinza-claro: #667085;
    --preto-claro: #3A404E;
    --branco: #ffffff;
    --vermelho: #8E2424;
    --cinza-escuro: #101828;
    --vermelho-transparente: #8E24240D;
    --cinza-branco: #EAECF0;
    --backgroud-banner: #C3191908;
    --cor-borda-pesquisa: #D0D5DD;
    --cor-fundo-rodape: #F9FAFB;
    --cinza-direitos: #98A2B3;

}

body{
    font-family: var(--font-principal);
    font-size: 18px;
    font-weight: 500px;
    color: var(--cinza-claro);
    align-items: center;
    line-height: 24px;
}

.container__body{
    margin: 3vw 7vw;
}

